.menu-links {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  text-align: left;
  padding-top: 50px;
  ul {
    width: 100%;
  }
  ul li {
    padding: 10px;
    color: #494949;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
  }
  ul li:hover {
    background: #494949;
    color: #fff;
  }
  @media (min-width: 768px) {
    text-align: right;
  }
}
