.menu-wrapper {
  position: sticky;
  width: 100%;
  height: 64px;
  background-color: $dark-background;
  z-index: 1;
  @media (min-width: 768px) {
    display: flex;
  }
  .header-link {
    color: $white;
    font-weight: 600;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    top: 15px;
    position: relative;
    @media (min-width: 768px) {
      justify-content: flex-start;
    }
  }

  .hamburger {
    position: absolute;
    bottom: 0;
    z-index: 1;
    width: 40px;
    height: 40px;
    // padding: 1rem;
    // display: flex;
    align-items: center;
    margin-left: 15px;
    @media (min-width: 768px) {
      display: none;
    }

    div {
      position: relative;
      width: 50%;
      height: 2px;
      background-color: $white-100;
    }
    > div::before,
    > div::after {
      content: '';
      position: absolute;
      z-index: 1;
      top: 14px;
      width: 100%;
      height: inherit;
      background-color: inherit;
    }
    > div::after {
      top: 7px;
    }
  }
  .link-icon {
    svg {
      fill: currentColor;
    }
  }
  .menu {
    // position: fixed;
    width: 100%;
    // display: flex;
    visibility: hidden;
    height: 50vh;
    // align-items: left;
    @media (min-width: 768px) {
      visibility: visible;
      align-items: unset;
      height: 5rem;
    }
    > div {
      background-color: $dark-background;
      width: 100%;
      @media (min-width: 768px) {
        // height: 90px;
      }
      > div {
        opacity: 0;
        @media (min-width: 768px) {
          opacity: 1;
        }
        > ul {
          padding-inline-start: 0;
          @media (min-width: 768px) {
            display: flex;
            flex-direction: row;
            align-items: center;
          }
        }
        > ul > li {
          list-style: none;
          color: $white;
          font-size: 0.8em;
          padding: 0.5rem 0;
          font-family: $primary-font;
          border-top: 1px solid #e1e4e840;
          margin: 0 15px;
          @media (min-width: 768px) {
            font-size: 1em;
            border: none;
          }
          > a {
            color: $white;
            text-decoration: none;
          }
        }
      }
    }
  }
  .toggler {
    position: absolute;
    top: 0;
    z-index: 2;
    // cursor: pointer;
    width: 50px;
    height: 50px;
    opacity: 0;
    @media (min-width: 768px) {
      display: none;
    }
  }
  .toggler:checked ~ .menu {
    visibility: visible;
  }
  .toggler:checked ~ .menu > div > div {
    opacity: 1;
    padding-top: 35px;
    padding-bottom: 5px;
  }
}
